body {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
}
.topbar {
  border: 1px solid black;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}
.header {
  font-size: 30px;
  padding-top: 12px;
  padding-left: 15px;
  font-weight: lighter;
  font-family: insta;
}
.icon {
  font-size: 25px;
  padding: 5px;
}
.content {
  border: 1px solid black;
  display: flex;
  height: 80vh;
  align-items: center;
}
.content p {
  margin-left: 10%;
  font-size: 40px;
  color: palevioletred;
}

.botbar {
  border: 1px solid black;
  display: flex;
  height: 10vh;
  justify-content: space-evenly;
  align-items: center;
}
@font-face {
  font-family: insta;
  src: url("//db.onlinewebfonts.com/t/6d32b8e06f40fb7698cfb714b9e7975d.ttf");
}
@media screen and (min-width: 640px) {
  body {
    display: flex;
    justify-content: center;
  }
  .container {
    width: 50%;
    height: 70%;
  }
}
